<h1>Dashboard</h1>
<p>
  The current status for each registered site is shown below:
</p>

<div class="dashboard">
  {{#each model as |site|}}
    {{#link-to 'sites.view' site.id class='site'}}
      <div class="info">
        <div class="name">
          {{site.name}}<br>
          <span class="since">
            {{#if site.isUnknown}}
              not yet polled
            {{else}}
              polled {{moment-from-now site.lastPoll}}
            {{/if}}
          </span>
        </div>
        <div class="status {{site.statusClass}}">
          {{site.statusText}}<br>
          <span class="since">
            since
            {{moment-from-now site.statusTime}}
          </span>
        </div>
      </div>
    {{/link-to}}
  {{/each}}
</div>
